body {margin: 0px}

#content {width: 100%;}

.vka_arakiri {
	background-color: transparent;
	border: 1px gray dashed;
}

a:link    {color: black; text-decoration:underline}
a:visited {color: black; text-decoration:underline}
a:hover   {color: black; text-decoration:underline}
a:active  {color: black; text-decoration:underline}
