body {
	margin-left: 20px;
}

.lisatud-kirje {
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-family: sans-serif;
	font-weight: 100;
	position: relative;
	margin-bottom: 60px;
	max-width: 800px;
	height: 100px;
	overflow: hidden;
}

.sajand {
	font-family: serif;
	font-size: 1.9em;
	float: left;
}

.vasakul {
	position: absolute;
	display: block;
	font-size: 1.3em;
	left: 0px;
	width: 90px;
}
.keskel {
	position: absolute;
	display: block;
	left: 90px;
	right: 120px;
	width: auto;
	height: 100%;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
	font-size: 1.5em;
}
.paremal {
	font-size: 1em;
	position: absolute;
	display: block;
	right: 0px;
	width: 120px;
}

.pisipildid {
	right: 1em;
	top: 1em;
}

img.pisipilt {
	margin-right: 1em;
	height: 150px;
}

.metainfonarratiiv {
	padding: 10px;
  padding-left: 0px;
	font-family: sans-serif;
	/* font-size: 18px;
	font-family: sans-serif; */
	line-height: 1.9;
}

.vanatekst {
	background-color: lightgoldenrodyellow;
	font-family: 'New Century Schoolbook', Georgia, serif;
	padding: 10px;
	font-weight: 200;
	font-style: italic;
	text-align: left;
	font-size: 18px;
	line-height: 1.7;
}

th {
	font-family: "Times New Roman", Times, serif;
	font-weight: 300;
	background-color: lightblue;
}

td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: auto;
}

td.date {
	width: 100%;
	max-width: 10%;
}
div.date {
	width: inherit;
}
.date {
	font-family: sans-serif;
}


td.arakiri-tekst {
	width: 100%;
	max-width: 10px;
}

td.nimi {
	width:     100%;
	max-width: 100px;
}
div.nimi {
	width: inherit;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nimi {
	font: italic bold 12px Georgia, serif;
}

td.viide {
	width: 100%;
	max-width: 100px;
}
div.viide {
	width: inherit;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.viide {
	
}

h1 {
	clear: left;
	font-family: "Times New Roman", Times, serif;
	font-weight: 300;
}

/*
.icon-left {
	background-image: url(media/hans-icon.svg);
	background-repeat: no-repeat;
	background-size: 1em;
	padding-left: 1em;
	display: block;
}
*/

h2 {
	clear: left;
	font-family: "Times New Roman", Times, serif;
	font-weight: 300;
}

h3 {
	clear: left;
	font-family: "Times New Roman", Times, serif;
	font-weight: 300;
}

hr {
	clear: both;
	color: gray;
	border: 0px;
	border-bottom: 1px dashed;
	height: 1px;
}

label {
	cursor: pointer;
}

a:link    {color: #003b80; text-decoration:underline}
a:visited {text-decoration:underline}
/*a:hover   {color: #74b8e1; text-decoration:underline}*/
a:active  {color: #74b8e1; text-decoration:underline}

.nolink:link,
.nolink:visited {
	text-decoration: none;
	color: black;
}
.nolink:hover {
	text-decoration: underline;
}


ul {
	list-style-type: none;
	padding-left: 0px;
}

/* used to give focus to table headings */
th:hover { background: #e4eef0; cursor: pointer }

/* used for tool tips */
.tooltip {
	background: #96433D;
	color: white;
	font-size: 8pt;
	font-style:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#content {
	font-family: Impact, Charcoal, sans-serif;
	font-weight: 100;
	font-size: 17px;
}