body{
	margin-left:2%
}

.lisatud-kirje{
	margin-bottom:2em;
	width:100%;
	height:100px
}

.sajand{
	font-size:3em;
	float:left
}

.vasakul{
	position:absolute;
	display:inline-block;
	font-size:20;
	width:200px;
	height:100px
}

.keskel{
	position:absolute;
	left:220px;
	display:inline-block;
	height:4em;
	width:500px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:wrap
}

.paremal{
	position:absolute;
	left:730px;
	width:200px
}

.vka_A{
	padding:10px;
	font-family:sans-serif
}

.vka_viide{
	font:italic small-caps .9em serif
}

.leiu_info_narratiiv{
	padding:10px
}

.pisipildid{
	border:1px solid;
	position:absolute;
	right:1em;
	top:1em
}

.metainfonarratiiv{
	padding:10px;
	line-height:1.7
}

.vka_arakiri{
	background-color:#fafad2;
	font-family:'New Century Schoolbook',Georgia,serif;
	padding:10px;
	font-weight:200;
	font-style:italic;
	text-align:left;
	font-size:20px
}

.vanatekst{
	background-color:#fafad2;
	font-family:'New Century Schoolbook',Georgia,serif;
	padding:10px;
	font-weight:200;
	font-style:italic;
	text-align:left;
	font-size:18px;
	line-height:1.7
}

.vka_arakiri p{
	margin:5;
	font:inherit
}

.vka_kirjeldus{
	padding:10px
}

.vka_tkom{
	padding:10px
}

th{
	font-family:"Times New Roman",Times,serif;
	font-weight:300;
	background-color:#add8e6
}

td{
	padding-left:.5em;
	padding-right:.5em;
	width:auto
}

td.date{
	width:100%;
	max-width:10%
}

div.date{
	width:inherit
}

.date{
	font-family:sans-serif
}

td.arakiri-tekst{
	width:100%;
	max-width:10px
}

.arakiri-tekst a:link,.arakiri-tekst a:visited{
	text-decoration:none;
	color:#000
}

.arakiri-tekst a:hover{
	text-decoration:underline
}

td.nimi{
	width:100%;
	max-width:100px
}

div.nimi{
	width:inherit;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

.nimi{
	font:italic bold 12px Georgia,serif
}

td.viide{
	width:100%;
	max-width:100px
}

div.viide{
	width:inherit;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

.viide{
	font:small-caps 12px monospace
}

h1{
	clear:left;
	font-family:"Times New Roman",Times,serif;
	font-weight:300
}

h2{
	clear:left;
	font-family:"Times New Roman",Times,serif;
	font-weight:300
}

h3{
	clear:left;
	font-family:"Times New Roman",Times,serif;
	font-weight:300
}

hr{
	clear:both;
	color:gray;
	border:0px;
	border-bottom:1px dashed;
	height:1px
}

label{
	cursor:pointer
}

.form-element{
	margin:2px;
	border:1px #add8e6 solid;
	float:left;
	width:30%;
	display:block;
	min-width:300px;
	font-family:arial
}

.form-text{
	font-size:smaller
}

.form-help{
	font-style:italic;
	font-size:small;
	color:gray
}

.form-section{
	border:1px dashed red
}

a:link{
	color:#003b80;
	text-decoration:underline
}

a:visited{
	text-decoration:underline
}

a:active{
	color:#74b8e1;
	text-decoration:underline
}

ul{
	list-style-type:none;
	padding-left:1em
}

th:hover{
	background:#e4eef0;
	cursor:pointer
}

.tooltip{
	background:#96433d;
	color:#fff;
	font-size:8pt;
	font-style:normal;
	font-family:Verdana,Arial,Helvetica,sans-serif
}

#content p{
	font-family:Impact,Charcoal,sans-serif;
	font-weight:100;
	font-size:17px
}
